<div class="row full-page">
  <div class="jumbotron">
    <h1>Maude Formal Environment</h1>

    <p>
        The <i>Maude Formal Environment</i> (MFE) is an executable and highly extensible software infrastructure
        within which a user can interact with several tools to mechanically verify properties of
        <a href="http://maude.cs.illinois.edu/" target="_blank">Maude</a>
        specifications. In MFE, tools can interoperate to discharge proof obligations of different nature
        without switching between different tool environments. The integration of different tools inside MFE's
        common environment presents the user with a consistent user interface, a mechanism to keep track of pending
        proof obligations, and allows the execution of several instances of each tool, among other features.
    </p>
    <p>
      MFE is naturally modeled in Maude as an object-based system in which the tools are objects and their communication
      mechanism is message passing. User interaction is available through
      <a href="https://github.com/maude-team/full-maude" target="_blank">Full Maude</a>, an extension
      of Maude that has become a common base on top of which tools can be built, offering a modular design
      for easily integrating other tools written in Maude.
    </p>
    <div class="center">
      <a href="https://github.com/antmordel/MFE" target="_blank">
        <button type="button" class="btn btn-outline">
          <i class="fa fa-github"></i> View on <strong>GitHub</strong>
        </button>
      </a>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <h2>Where to Start?</h2>
        <ul>
          <li><a href="#/installation">Installation</a> for installation and configuration instructions.</li>
          <li><a href="#/howtouse">How to use</a> for use instructions.</li>
          <li><a href="#/maude">Maude++</a> for a brief explanation on how the Maude system has been extended with 
            new operators to handle calls to the CETA library and termination back-ends.
          </li>
        </ul>
    </div>
</div>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <h2>Publications</h2>
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>F. Durán, C. Rocha, J. M. Álvarez.</strong>
        <i>Tool Interoperability in the Maude Formal Environment.</i> CALCO 2011. <br>
        Lecture Notes in Computer Science, 2011, Volume 6859/2011, 400-406, DOI: 10.1007/978-3-642-22944-2_30
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <strong>F. Durán, C. Rocha, J. M. Álvarez.</strong>
        <i>Towards a Maude Formal Environment.</i> Formal Modeling: Actors, Open Systems, Biological Systems. <br>
        Lecture Notes in Computer Science, 2011, Volume 7000/2011, 329-351, DOI: 10.1007/978-3-642-24933-4_17
      </div>
    </div>
  </div>
</div>
