<div class="row full-page">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
    <h2>Maude++</h2>
    <p>
      For tools which depend on external utilities not directly available from Maude such as <i>MTT</i> and <i>SCC</i>, 
      we have extended version 2.6 of of the Maude system with built-in operators associated with appropriate C++ code that interacts with the external tools. 
      This extension of Maude, called here <i>Maude++</i> is available only for Linux and OS X (all hooks but the SCC) architectures.
      <br>
      However, the MFE can also be executed in any version of Maude 2.7 or higher, but without support for the decision procedures implemented for the aforementioned tools.
    </p>
  </div>
</div>