<div class="row full-page">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
    <h2>Tools</h2>
    <p>
      Five tools, with highly different designs and implementations, are available from the latest MFE:
    </p>
    <ul>
      <li>the <a href="http://maude.cs.uiuc.edu/tools/itp/" target="_blank">Theorem Prover (ITP)</a></li>
      <li>the <a href="http://maude.cs.uiuc.edu/tools/scc" target="_blank">Sufficient Completeness Checker (SCC)</a></li>
      <li>the <a href="http://maude.lcc.uma.es/CRChC/" target="_blank">Church-Rosser Checker (CRC)</a></li>
      <li>the <a href="http://maude.lcc.uma.es/CRChC/" target="_blank">Coherence Checker (ChC)</a></li>
      <li>the <a href="http://maude.lcc.uma.es/MTT/" target="_blank">Maude Termination Tool (MTT)</a></li>
    </ul>
    <p>
      Originally, these tools where independent tools. The interaction with each of them remains as
      in its stand-alone version after selecting it in the MFE environment
      (with a <code>select tool < tool > .</code> commnand).
    </p>
  </div>
</div>
